.Item {
    padding: 0 68px 0 23px; 
    width: 100%;
    height: 0;
    color: #fff; 
    background-color: #000; 
    opacity: 0; 
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    transition: all.3s;
}
.Item:hover { background-color: #1D1D1B; color: #fff; }

.Item > div { margin-left: 23px; }

.Item.Active, .Item.ShowAll { height: 40px; opacity: 1; }
.Item.Search.Active { transform: translateY(-100%); }
.Item.ShowAll.Active { transform: translateY(0); }