.Carousel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 73vh;
    overflow: hidden;
    z-index: -1;
}

.Carousel > div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
}

.Carousel > div img {
    width: 84vw;
    object-fit: cover;
    opacity: 0;
    transition: transform .7s;
}

.Backdrop, .PrevBackdrop {
    left: 16.7%;
    transform: skew(0deg) translateX(0);
    opacity: 1;
    transition: all .7s;
}

.Backdrop img, .PrevBackdrop img { opacity: 1!important; }

.PrevBackdrop { opacity: 0; }

.NextBackdrop {
    left: 0;
    opacity: 0.8;
    transform: skewX(11deg) translateX(-15%);
    background: linear-gradient(to bottom, #1d1d1b, #1d1d1b00 80%);
    transition: all .5s .2s;
}

.FakeBackdrop {
    left: 0;
    background: linear-gradient(to top, #1d1d1b 35%, #1d1d1bd1);
    transform: skewX(8deg) translateX(-22%);
    transition: all .7s;
}

.After {
    background-image: linear-gradient(#1d1d1b00 60%, #1d1d1b); }
.After.Hidden {
    background-image: linear-gradient(#1d1d1be3 10%, #1d1d1b) !important; 
}

.PlayTrailer {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    pointer-events: none;
    height: 73vh;
    z-index: 1;
}
.PlayTrailer .Svg {
    cursor: pointer;
    pointer-events: all;
    transform: translateY(31vh);
}

.Loading {
    animation: loading 1.6s infinite cubic-bezier(0, 0, 1, 1);
}
.Loading .NextBackdrop, 
.Loading .FakeBackdrop {
    max-width: 100%;
    transform: translate(0) skew(0);
    transition: none;
}
.Loading .Svg { opacity: 0; transition: none; }


@keyframes loading {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}


@media(max-width: 1200px) {
    .Carousel > div img { height: 70vh; }    
}

@media(max-width: 768px) {
    .Carousel { height: 62vh; }
    .Carousel::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background: linear-gradient(185deg, #1d1d1b00 30%, #1d1d1b);
        z-index: 1;
        pointer-events: none;
    }

    .Backdrop, .PrevBackdrop { left: 0 }

    .NextBackdrop {
        transform: skewY(6deg) translateY(85%);
        background: linear-gradient(14deg, #1d1d1b 53%, #1d1d1b40);
    }
    
    .FakeBackdrop { 
        transform: skewY(0) translateY(100%);
        opacity: 1;
    }

    .Carousel > div img {
        width: 100%;
        height: 100%;
    }

    .NextBackdrop img {
        transform: translateY(-74%) !important;
    }

    .PlayTrailer .Svg { transform: translateY(23vh); }
}

@media(max-width: 576px) { 
    .Blur { filter: blur(4px); transition: all .3s 1s;}
}

@media (min-width: 1400px) {
    .Carousel { height: 70vh!important; }
}