.Carousel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    z-index: -1;
}

.Carousel > div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .7s;
    padding: 0;
    overflow: hidden;
}

.Carousel > div img {
    width: 84vw;
    object-fit: cover;
    opacity: 0;
    transition: transform .7s;
}

.Backdrop, .PrevBackdrop {
    left: 16.7%;
    transform: skew(0deg) translateX(0);
    opacity: 1;
}

.Backdrop img, .PrevBackdrop img { opacity: 1!important; }

/* .PrevBackdrop { opacity: 0; } */

.NextBackdrop {
    left: 0;
    opacity: 0.8;
    transform: skewX(11deg) translateX(-15%);
    background: linear-gradient(to bottom, #1d1d1b, #1d1d1b00 80%);
}

.FakeBackdrop {
    left: 0;
    background: linear-gradient(to top, #1d1d1b 35%, #1d1d1bd1);
    transform: skewX(8deg) translateX(-22%);
}


@media(max-width: 1200px) {
    .Carousel > div img { height: 70vh; }    
}

@media(max-width: 768px) {
    .Carousel { height: 62vh; }
    .Carousel::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background: linear-gradient(185deg, #1d1d1b00 30%, #1d1d1b);
        z-index: 1;
        pointer-events: none;
    }

    .Backdrop, .PrevBackdrop { left: 0 }

    .NextBackdrop {
        transform: skewY(6deg) translateY(85%);
        background: linear-gradient(14deg, #1d1d1b 53%, #1d1d1b40);
    }
    
    .FakeBackdrop { 
        transform: skewY(0) translateY(100%);
        opacity: 1;
        /* background: none; */
    }

    .Carousel > div img {
        width: 100%;
        height: 100%;
        /* transform: translateY(0); */
    }

    .NextBackdrop img {
        transform: translateY(-74%) !important;
    }
}