.Nav { height: 100%;  }

.Ul {
    position: relative;
    height: 40px;
}
.Ul p { transition: all .3s; }

.Span {
    width: 22px;
    height: 2px;
    background-color: #FFCC66;
}


/* nav mobile hidden */
@media(max-width: 768px) {
    .Filters { transition: all .3s; }
    .Nav .Filters > div { height: 40px; transition: all .3s; }

    .Nav .Ul { background: #000; }
    .Nav.Hidden .Filters { transform: translateY(12px); }
    .Nav.Hidden .Filters > div { height: 5px; }
    .Nav.Hidden .Ul > div:last-child { height: 0; opacity: 0; }
    .Nav.Hidden .Filters > div:first-child p { transform: translateY(5px); }
    .Nav.Hidden .Filters > div:last-child p { transform: translateY(-5px); }
}


@media(min-width: 768px) {
    .Ul { display: flex; }
    .Filters { display: flex; }
    .Ul > div:last-child p {
        width: 0;
        opacity: 0;
        margin-right: 23px; 
    }
    .Ul > div:last-child:hover p { width: 62px; opacity: 1; }
}