.Info {
    position: relative;
    display: flex;
    height: 73vh;
    min-height: 73vh;
    /* width: 100%; */
    padding-top: 15px;
    top: 0;
    left: 0;
}
.Mobile, .MoreDetails {
    height: auto !important;
    min-height: auto !important;
    margin-bottom: 50px;
}
.Info > div { padding: 0;}

.Main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Main.All { display: block; }

.Main h1 {
    /* font-size: 3rem; */
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 20px;
    
    overflow: hidden;
    text-overflow: clip;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
/* .Main h1 span { 
    font-size: 2rem; 
    padding-left: 15px;
} */

.Main ul {
    display: flex;
    padding: 0;
    margin-bottom: 20px;
}
.Main li {
    list-style: none;
    border: 1px solid #707070;
    margin-right: 10px;
    padding: 0 10px;
    font-size: .85rem;
    background-color: #1d1d1b4d;
    white-space: nowrap;
}

.Stars {
    display: flex;
}
.Stars img {
    height: 24px;
    width: auto;
    margin-right: 15px;
}
.Stars p { 
    margin: auto 0; 
    font-size: 1.2rem;
    font-weight: bold;
}

.SeeMoreBtn {
    margin-top: 30px;
}

.PlayTrailer {
    display: flex;
    justify-content: center;
    pointer-events: none;
    height: 73vh;
}
.PlayTrailer img {
    width: 55px;
    height: auto;
    cursor: pointer;
    pointer-events: all;
}

.NextBtn {
    position: absolute;
    bottom: 50px;
    right: 0;
}


@media(min-width: 1400px) {
    .Info { height: 70vh; min-height: 70vh; }
    .Stars img { height: 28px; }
}

@media(min-width: 1300px) {
    .Main h1 { font-size: 4rem; }
}

@media(max-width: 992px) {
    .Main ul { overflow-x: hidden; }
    .Main h1 { -webkit-line-clamp: 2; }
}

@media(max-width: 768px) {
    .Info { max-width: calc(100% - 40px); }
    .Title { position: relative; height: 62vh; }
    .Title h1 {position: absolute; bottom: 0}
    
    .Main { display: block; margin-bottom: 20px }
    .Main h1 { -webkit-line-clamp: 3; }
    .Main ul { overflow: visible; }
    .PlayTrailer {
        position: absolute;
        top: 31vh;
        left: 50%;
        width: 50px;
        height: auto;
        transform: translate(-50%, -70%);
        cursor: pointer;
        z-index: 2;
    }
    .NextBtn { bottom: 25px }
    /* .NextBtn { top: 56vh; bottom: auto; }
    .NextBtn p { opacity: 0; } */
}
