.Col {
    padding-bottom: 30px;
}

.Movie {
    position: relative;
    padding-top: 150%;
    overflow: hidden;
    cursor: pointer;
    pointer-events: auto;
}

.Movie img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Active img {
    border: 3px solid #FFCC66;
}


@media(max-width: 992px) {
    .Col { padding: 0 10px 30px 10px; }
}