.CastList {
    display: flex;
    overflow-x: visible;
    margin-bottom: 30px;
    width: fit-content;
}

.Cast { margin-right: 20px; }
.Cast:last-child { margin-right: 0; }

.Cast img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.Cast p {
    font-size: .8rem;
    padding: 5px 0;
    margin: 0;
    overflow: hidden;
    text-overflow: clip;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.ScrollBar { 
    transform: translateY(-120px);
    position: absolute;
    left: 0;
    width: calc(100vw - 80px); 
    pointer-events: none;
}
.ScrollBar > div {
    position: absolute;
    top: 0;
    right: 0;
    height: 3px;
    background-color: #FFCC66;
    transition: all .3s;
}


@media(max-width: 768px) {
    .ScrollBar { width: calc(100vw - 30px); }
}

@media(max-width: 576px) {
    .ScrollBar { width: calc(100vw - 20px); }
}